input[type="text"] {
    width: 100%;
    background-color: #1d2951;
    border: 0px;
    height: 80px;
    font-size: 26px;
    color: white;
}

#table {
    background-color: #1d2951;
    font-size: 25px;
    transform: translate(-30%, 15%);
}

#btn {
    color: black;
    font-size: 20px;
    font-weight: bold;
    border: none;
}